In [1]:
import pandas as pd
import numpy as np

## 2007

In [2]:
# Not yet

## 2008

In [3]:
# Not yet

## 2009

In [4]:
# Not yet

## 2010

In [5]:
year = 2010
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, skiprows=[0,1,3,4]).fillna(0)
data_df = data_df.rename(columns={"Total Remuneration": "Total"})
data_df = data_df[["Council", "Name", "Total"]]

for i in range(1, len(data_df)):
    if data_df.loc[i, 'Council'] == 0:
        data_df.loc[i, 'Council'] = data_df.loc[i-1, 'Council']
        
# Filter out "-" in Total
before_len = len(data_df)
data_df = data_df[data_df['Total'] != "-"]
print("Removed '-' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

# Filter out "No staff above..."
before_len = len(data_df)
data_df = data_df[data_df['Name'] != "No staff above £100,000"]
print("Removed 'No staff above...' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

# Filter out "Did not respond"
before_len = len(data_df)
data_df = data_df[data_df['Name'] != "Did not respond"]
print("Removed 'Did not respond' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

# Filter out "Refused to answer"
before_len = len(data_df)
data_df = data_df[data_df['Name'] != "Refused to answer"]
print("Removed 'Refused to answer' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")


# Filter out "Unusable information returned"
before_len = len(data_df)
data_df = data_df[data_df['Name'] != "Unusable information returned"]
print("Removed 'Unusable information returned' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)
data_df.to_pickle("pickles/2007_08.pkl")

## 2011

In [6]:
# Not yet
# This has: 2008-09, 2009-10

## 2012

In [7]:
# Data isn't useful, a repeat
# This has: 2011-12

## 2013

In [8]:
year = 2013
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, 'Full', skiprows=[0]).fillna(0)
data_df = data_df.rename(columns={"2011-12": "Total"})
data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")
    
data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)

data_df.to_pickle("pickles/2011_12.pkl")

## 2014

In [9]:
year = 2014
extension="xls"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, skiprows=[1]).fillna(0)

data_df = data_df.rename(columns={"Unnamed: 12": "Total"})

data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")
    
data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)

data_df.to_pickle("pickles/2012_13.pkl")

## 2015

In [10]:
year = 2015
extension="xls"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "Full data >£100,000",).fillna(0)

data_df = data_df.rename(columns={"Unnamed: 0": "Council", "≥£100,000": "count_people"})
data_df = data_df[["Council", "count_people"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['count_people'] != 0]
print("Removed count_people '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

data_df.to_pickle("pickles/2013_14.pkl")

## 2016

In [11]:
# Not yet

## 2017

In [12]:
year = 2017
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "Employees >£100,000 by council").fillna(0)

data_df = data_df.rename(columns={"Local Authority": "Council", "Number over £100,000 in 2014-15": "2014_15", "Number over £100,000 in 2015-16": "2015_16"})
data_df = data_df[["Council", "2014_15", "2015_16"]]
data_df.drop(data_df.tail(1).index,inplace=True)
data_df.drop(data_df.tail(1).index,inplace=True)

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['2014_15'] != 0]
print("Removed 2014_15 '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

before_len = len(data_df)
data_df = data_df[data_df['2015_16'] != 0]
print("Removed 2015_16 '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

# Filter out Total "N\a"
before_len = len(data_df)
data_df = data_df[data_df['2014_15'] != "N/a"]
print("Removed 2014_15 'N/a' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

before_len = len(data_df)
data_df = data_df[data_df['2015_16'] != "N/a"]
print("Removed 2015_16 'N/a' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

# 2014_15
data_df_2014 = data_df.rename(columns={"2014_15": "count_people"})
data_df_2014.to_pickle("pickles/2014_15.pkl")

# 2015_16
data_df_2015 = data_df.rename(columns={"2015_16": "count_people"})
data_df_2015.to_pickle("pickles/2015_16.pkl")

## 2018

In [13]:
year = 2018
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "Full data", skiprows=[0]).fillna(0)

data_df = data_df.rename(columns={"2016-17": "Total"})
data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)

data_df.to_pickle("pickles/2016_17.pkl")

## 2019

In [14]:
year = 2019
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "2017-18 data").fillna(0)

data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)
data_df.drop(data_df.tail(18).index,inplace=True)

data_df.to_pickle("pickles/2017_18.pkl")

## 2020

In [15]:
year = 2020
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "2018-19 data").fillna(0)

data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")


data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)
data_df.drop(data_df.tail(20).index,inplace=True)

data_df.to_pickle("pickles/2018_19.pkl")

## 2021

In [16]:
year = 2021
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "2019-20 totals").fillna(0)

data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")


data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)

data_df.to_pickle("pickles/2019_20.pkl")

## 2022

In [17]:
year = 2022
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "2020-21 totals").fillna(0)

data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)

data_df.to_pickle("pickles/2020_21.pkl")

## 2023

In [18]:
year = 2023
extension="xlsx"
file = "data/Town_Hall_Rich_List_" + str(year) + "." + str(extension)
data_df = pd.read_excel(file, "21-22 totals").fillna(0)

data_df = data_df[["Council", "Name", "Total"]]

# Filter out Total "0"
before_len = len(data_df)
data_df = data_df[data_df['Total'] != 0]
print("Removed Total '0' from data_df, in doing so, removed " + str(before_len - len(data_df)) + " rows.")

data_df = data_df \
    .groupby(['Council'], sort=False, as_index=False) \
    .agg(
        count_people=("Council", "count"),
        sum_tc=("Total", "sum"),
        mean_tc=("Total", "mean"),
        sd_tc=("Total", np.std)
).fillna(0)

data_df.to_pickle("pickles/2021_22.pkl")